@model TimeTidy.Models.WorkSite
@{
    ViewBag.Title = "Worksite";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header{
    @Html.Partial("_LeafletHeader")
}

<h2>@Model.Name Time Sheets</h2>
<h4>@Model.StreetAddress</h4>

<table id="timeSheets" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Login</th>
            <th>Name</th>
            <th>Logged on</th>
            <th>Logged off</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
@Html.Hidden("siteId", @Model.Id)

@section scripts{
    @Scripts.Render("~/Scripts/leaflet-basics.js");
    @Scripts.Render("~/Scripts/Moment.js");
    <script src="//cdn.datatables.net/plug-ins/1.10.13/dataRender/datetime.js"></script>

    <script>
        $(document).ready(function() {

            var userLocation = null;
            var siteLocation = null;
            var table = $("#timeSheets").DataTable({
                ajax: {
                    url: "/api/workSiteTimeSheets/" + $("#siteId").val(),
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "userLogin"
                    },
                    {
                        data: "userName"
                    },
                    {
                        render: function(data, type, timeSheet) {
                            userLocation = L.latLng(timeSheet.logOnLocation.lat, timeSheet.logOnLocation.lng);
                            siteLocation = L.latLng(timeSheet.siteLocation.lat, timeSheet.siteLocation.lng);
                            return moment.utc(timeSheet.logOnTime).utcOffset(+10).format('DD/MM/YY, h:mm a') +
                                " | " +
                                Math.floor(userLocation.distanceTo(siteLocation)) +
                                " meters from site.";
                        }
                    },
                    {
                        render: function(data, type, timeSheet) {
                            if (timeSheet.logOffLocation != null) {
                                userLocation = L.latLng(timeSheet.logOffLocation.lat, timeSheet.logOffLocation.lng);
                                siteLocation = L.latLng(timeSheet.siteLocation.lat, timeSheet.siteLocation.lng);
                                return moment.utc(timeSheet.logOffTime).utcOffset(+10).format('DD/MM/YY, h:mm a') +
                                    " | " +
                                    Math.floor(userLocation.distanceTo(siteLocation)) +
                                    " meters from site.";
                            } else {
                                return "Has not logged off site.";
                            }
                        }
                    },
                    {
                        data: "id",
                        render: function(data, type, sheet) {
                            return "<button class='btn-link js-delete' data-sheet-id=" +
                                data +
                                ">Delete</button>";
                        }
                    }
                ]
            });

            $("#timeSheets").on('click',
                '.js-delete',
                function() {
                    var button = $(this);

                    bootbox.confirm({
                        title: "Delete entry?",
                        message: "Are you sure you want to delete this sheet entry?",
                        callback: function(result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/usertimesheets/" + button.attr("data-sheet-id"),
                                    method: "DELETE",
                                    success: function() {
                                        table.row(button.parents("tr")).remove().draw();
                                    }
                                });
                            }
                        }
                    });
                });

        });
    </script>
}
