@using Microsoft.AspNet.Identity.EntityFramework
@model Vigilance.Models.UserFormViewModel
@{
    ViewBag.Title = "UserForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit User Account</h2>

@using (Html.BeginForm("Save", "Users")) {
    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Email)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.FirstName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.LastName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PhoneNumber)
        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.PhoneNumber)
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-4">
            <ul id="userRoles" class="list-group">
                @foreach (var uRole in Model.UserRoles) {
                    <li class="list-group-item">@uRole.Name</li>
                }
            </ul>
        </div>
    </div>

    @Html.HiddenFor(m => m.UserId)
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
