@model TimeTidy.Models.WorkSite
@{
    ViewBag.Title = "WorkSiteForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section header{
    @Html.Partial("_LeafletHeader")
    <link rel="stylesheet" href="~/Content/Control.Geocoder.css" />
    <script src="~/Scripts/LeafletGeoCoder/Control.Geocoder.js"></script>
}

@if (@Model.Name != null)
{
    <h2>EDIT: @Model.Name</h2>
}
else {
    <h2>Create New Work Site</h2>
}

<div id="out"></div>
<div id="mapid" style="height: 400px;"></div>

@using (Html.BeginForm("Save", "WorkSites")) {
    <div class="form-group">
        @Html.LabelFor(w => w.Name)
        @Html.TextBoxFor(w => w.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(w =>w.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(w => w.Description)
        @Html.TextBoxFor(w => w.Description, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(w => w.StreetAddress)
        @Html.TextBoxFor(w => w.StreetAddress, new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(w => w.StreetAddress)
    </div>

    @Html.HiddenFor(w => w.Id)
    @Html.HiddenFor(w => w.Lat, new { @id = "latitude" })
    @Html.HiddenFor(w => w.Lng, new { @id = "longitude" })
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/app");
    <script>
        let onMapClick = function(e) {
            let popup = L.popup();
            popup
                .setLatLng(e.latlng)
                .setContent("Clicked on map at: " + e.latlng.toString())
                .openOn(e.target);
        }


        $(document).ready(function () {
            let userLatitude;
            let userLongitude;

            let siteMap = MapboxService.createSiteMap('mapid');
            siteMap.on('click', onMapClick);

            let success = function (position) {
                userLatitude = position.coords.latitude;
                userLongitude = position.coords.longitude;

                MapboxService.setMapView(siteMap, userLatitude, userLongitude);
            };

            let fail = function () {
                alert("fail in geo location service. Try reloading.")
            };


            if ($("#Id").val() == 0) {
                GeoLocationService.getCurrentPosition(success, fail);
            } else {
                let lat = $('#latitude').val();
                let lng = $('#longitude').val();
                MapboxService.setMapView(siteMap, lat, lng);
                L.marker([lat, lng]).addTo(siteMap);
            }

            let googleGeocoder = L.Control.Geocoder.google("AIzaSyAruk8JN7nsmslgDvDMqC6BcqkBKUZ7KEA");
            let geocoder = L.Control.geocoder({
                collapsed: false,
                geocoder: googleGeocoder
            }).on('markgeocode', function (e) {
                $('#StreetAddress').val(e.geocode.name);
                $('#latitude').val(e.geocode.center.lat);
                $('#longitude').val(e.geocode.center.lng);
            }).addTo(siteMap);
        });
    </script>
}

